body {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
    font-size: 12px;
}


a {
    text-decoration: none;
    color: #000;
}

#content_k {
    width: 100%;
    margin: 0 auto;
    height: 600px;
    float: left;
}


#content {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    float: left;
    text-align:center;
}

.content_word {
    width: 400px;
    height: 250px;
    margin:auto;
    text-align:center;
    margin-top:50px;
    font-size:20px;
}

.content_btn {
    margin-top:50px;
    width:250px;
    height:40px;
    margin:auto;
}

.content_Check {

    float: left;
    color: rgba(0,0,0,0.24);
    width: 60px;
    height: 40px;
    background:url(../image/back.png);
    line-height: 37px;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
}

    .content_Check:hover {
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
    }

.content_Back {
    margin-left:20px;
    float: left;
    color: rgba(0,0,0,0.24);
    width: 60px;
    height: 40px;
    background:url(../image/back.png);
    line-height: 37px;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
}

    .content_Back:hover {
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
    }

.content_nav_k {
    width: 100%;
    height: 40px;
    float: left;
}

.content_nav {
    width: 100%;
    height: 40px;
    float: left;
    background: #E4393C;
}

.content_nav_word {
    margin-left: 420px;
    width: 90px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
}

#footer_kk {
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 300px;
}

#footer_k {
    width: 100%;
    margin: auto;
    height: 100px;
    float: left;
}

#footer {
    width: 100%;
    height: 100px;
    float: left;
    position: relative;
}

.footer_copyright {
    line-height: 16px;
    margin: auto;
    font-size: 12px;
    width: 500px;
    height: 100px;
}
