body {
        font-size: 12px;
}

a {
    text-decoration:none;
    color:#000;
}

.jiequ_k {
    width:100%;
    height:100%;
}

.jiequ {
    white-space:nowrap; 
    overflow: hidden;
    text-overflow:ellipsis;
    width:8em; 
    margin:auto;
}

#content_kk {
    width:100%;
    height:500px;
    float:left;
}

.content_k2 {
    width:100%;
    height:290px;
    float:left;
}

#content {
    width:1200px;
    height:550px;
    margin:auto;
    position:relative;
}

.content_nav_k {
    width:100%;
    height:40px;
    float:left;
}

.content_nav {
    width:100%;
    height:40px;
    float:left;
    background:#E4393C;
}

.content_nav_word {
    margin-left:420px;
    width:90px;
    height:40px;
    color:#fff;
    font-size:18px;
    line-height:40px;
}

.table_k {
    margin-top:30px;

}

.btn_check_k {
    width:180px;
    height:60px;
    text-align:center;
    margin:auto;
}

.btn_check {
    width:180px;
    float:left;
    height:60px;
    line-height:60px;
    text-align:center;
    background:#E4393C;
    color:#fff;
    font-size:20px;
    cursor:pointer;
}

.content_word_k {
    margin-top:10px;
    width:100%;
    height:60px;
}

.content_word {
    color:red;
    font-size:18px;
    text-align:center;

}



#footer_kk {
    width:100%;
    height: 100px;
    float:left;
    margin-top:300px;

}

#footer_k {
    width:100%;
    margin:auto;
    height: 100px;
    float:left;
}

#footer {
    width: 100%;
    height: 100px;
    float: left;
    position:relative;
}

.footer_copyright {
    line-height: 16px;
    margin:auto;
    font-size: 12px;
    width: 500px;
    height: 100px;
}
